<div class="row">
  <div [className]="isSidePanelVisible ? 'col-8' : 'col-12' " >
    <div class="card">
      <div class="card-header bg-success">
        <div class="row">
          <div class="col-6">
            Car List
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-primary" (click)="isSidePanelVisible = true" >Add new</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Sr No</th>
            <th>Customer</th>
            <th>Mobile No</th>
            <th>Car</th>
            <th>Rent Type</th>
            <th>Duration</th>
            <th>No of Cars</th>
<!--            <th>Image</th>-->
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bookingList;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.customerName}}</td>
              <td>{{item.mobileNo}}</td>
              <td>{{item.carName}}</td>
              <td>{{item.rentType}}</td>
              <td>{{item.rentDuration}}</td>
              <td>{{item.noofCars}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4" *ngIf="isSidePanelVisible" >
    <div class="card">
      <div class="card-header bg-success">
        <div class="row">
          <div class="col-6">
            New Car
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-primary" (click)="isSidePanelVisible = false">Close</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">Customer Name</label>
            <input type="text" name="" [(ngModel)]="bookingobj.customerName" id="" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Mobile No</label>
            <input type="number" maxlength="10" name="" [(ngModel)]="bookingobj.mobileNo" id="" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Select Car Name</label>
            <select class="form-select" *ngFor="let items of carList" [(ngModel)]="bookingobj.carId">
              <option [value]="items.carId">{{items.carName}}</option>
            </select>
          </div>
          <div class="col-6">
            <label for="">Booking Date</label>
            <input type="date" name="" [(ngModel)]="bookingobj.bookingDate" id="" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label for="">Rent Type</label>
            <select class="form-select"  [(ngModel)]="bookingobj.rentType">
              <option value="">Select</option>
              <option value="Per Day">Per Day</option>
              <option value="Per Hr">Per Hour</option>
              <option value="">Select</option>
            </select>
          </div>
          <div class="col-6">
            <label for="">Rent Duration</label>
            <input type="number" maxlength="10" name="" [(ngModel)]="bookingobj.rentDuration" id="" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label for="">No of Cars</label>
            <input type="number"  [(ngModel)]="bookingobj.noofCars" class="form-control">
          </div>
<!--          <div class="col-6">-->
<!--            <label for="">Rent Duratiom</label>-->
<!--            <input type="number" name="" [(ngModel)]="bookingobj.rentDuration" id="" class="form-control">-->
<!--          </div>-->
        </div>

        <div class="row pt-3">
          <div class="col-6 text-center">
            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-success" (click)="onSaveBooking()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
